git+https://github.com/KurimuzonAkuma/kurigram.git@dev#egg=kurigram
requests
aiohttp
tgcrypto
dotenv
pymongo
apscheduler
uvicorn[standard]
aiofiles
fastapi
uvloop
bs4
httpx
telegraph
python-multipart
pillow
psutil
firebase-admin
yt-dlp[default]